.resume-section {
  width: 100%;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: var(--spacing-sm);
}

@media (min-width: 875px) {
  .accordion {
    padding-bottom: var(--spacing-lg);
  }
}

.delineator {
  margin: 0 10px;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  margin: 0 10px 0 0;
}

.delineator + span {
  display: inline-block;
}

@media (min-width: 875px) {
  .delineator {
    display: inline;
    margin: 0 10px;
  }

  .delineator + span {
    display: inline;
  }
}
